<div class="alert alert-success" id="notice">
  <strong>Success!</strong> <%= notice %>
</div>

<p>
  <br>
  <font size = 4><strong>Hi <%= @user.name %>!</strong></font>
</p>
<hr>
<p>
  Here are the details of your WhereYouWannaBe account:
</p>
<p>
  <font color=#2E2E2E><strong>Age:</strong></font>
  <%= @user.age %>
</p>

<p>
  <font color=#2E2E2E><strong>Home Address:</strong></font>
  <%= @user.home_address %>
</p>

<p>
  <font color=#2E2E2E><strong>Email Address:</strong></font>
  <%= @user.email %>
</p>

<p>
  <font color=#2E2E2E><strong>Events you are attending:</strong></font>
  <% @events.each do |event| %>
      <%= event.title %>
      <br>
  <% end %>
</p>
<!--<p>-->
<!--  <strong>Password:</strong>-->
<!--  <%= @user.password %>-->
<!--</p>-->

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
