<hr class="">
<div class="container target">
    <div class="row">
        <div class="col-sm-10">
             <h1 class=""><%= @user.name %></h1>
           <br>
           <%= render 'follow_form' if logged_in? %><br>
        </div>
      <div class="col-sm-2"><a href="/users" class="pull-right">
        <img title="profile image" class="img-circle img-responsive" src="http://www.rlsandbox.com/img/profile.jpg"></a>
      </div>
    </div>
  <br>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item bg-info text-white" contenteditable="false"><strong>Profile</strong>
                <%= link_to edit_user_path(@user), class:"float-right text-white" do %>
                <%= material_icon.edit %><% end %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Age</strong></span> <%= @user.age %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">City</strong></span> <%= @user.city %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Email</strong></span> <%= @user.email %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined On</strong></span> <%= @user.created_at %></li>
            </ul>
           <br>
            <ul class="list-group">
                <li class="list-group-item bg-info text-white"><strong>Activity</strong></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Shares</strong></span> 125</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Likes</strong></span> 13</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Following</strong></span>
                  <a href="<%= following_user_path(@user) %>"><%= @user.following.count%></a></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Followers</strong></span>
                  <a href="<%= followers_user_path(@user) %>"> <%= @user.followers.count%></a></li>
            </ul>

        </div>
        <!--/col-3-->
        <div class="col-sm-9" style="">
          <!--Events Hosting-->
          <% if @hostedFutureEvents.nil? || @hostedFutureEvents.length==0 %>
            <h4><%if current_user.id == @user.id%>
                    You Are
                  <% else %>
                      <%= @user.name %> Is
                  <% end %>
            Not Hosting Any Upcoming Events !</h4>
          <% else %>
            <h4>Upcoming Events That
            <% if current_user.id== @user.id %>
              You Are
            <% else %>
                <%= @user.name %> Is
            <% end %>
              Hosting</h4>
          <% end %>
          <% @hostedFutureEvents.each do |event| %>
          <div class="card text-center">
            <div class="card-header bg-info text-white">
              <h5><%= event.title %></h5>
            </div>
            <div class="card-body">
              <button type="button" class="btn btn-default float-right">
                <%= link_to edit_event_path(event), class:"float-right text-mute" do %>
                <%= material_icon.edit %><% end %>
              </button>
              <i class="float-left">$<%= event.price %></i>
              <h6 class="card-title"><span class="badge badge-pill badge-warning"><%= event.tag.name %></span></h6>
              <p class="card-text"><%= event.description %></p>
              <%= link_to "View Details", event, class:'btn btn-success' %>
              </div>
            <div class="card-footer text-muted">
              <p>When : <%= event.date %> &nbsp &nbsp Where: <%= event.location.name %>, <%= event.location.city %></p>
            </div>
          </div>
          <br>
          <% end %>
          <div id="push"></div>

          <!--Events Attending-->
          <% if @eventAttending.nil? || @eventAttending.length==0 %>
            <h4><%if current_user.id == @user.id%>
                    You Are
                  <% else %>
                      <%= @user.name %> Is
                  <% end %>
            Not Attending Any Upcoming Events !</h4>
          <% else %>
            <!--<h4>Upcoming Events You Are Attending</h4>-->
            <h4>Upcoming Events That
            <% if current_user.id== @user.id %>
              You Are
            <% else %>
                <%= @user.name %> Is
            <% end %>
              Attending</h4>
          <% end %>
          <% @eventAttending.each do |event| %>
          <div class="card text-center">
            <div class="card-header bg-info text-white">
              <h5><%= event.title %></h5>
            </div>
            <div class="card-body">
              <button type="button" class="btn btn-default float-right">
                <!-- <span class="fa fa-pencil" aria-hidden="true"></span> Edit-->
                <%= link_to 'Edit', edit_event_path(event) %>
              </button>
              <i class="float-left">$<%= event.price %></i>
              <h6 class="card-title"><span class="badge badge-pill badge-warning"><%= event.tag.name %></span></h6>
              <p class="card-text"><%= event.description %></p>
              <%= link_to "View Details", event, class:'btn btn-success' %>
              </div>
            <div class="card-footer text-muted">
              <p>When : <%= event.date %> &nbsp &nbsp Where: <%= event.location.name %>, <%= event.location.city %></p>
            </div>
          </div>
          <br>
          <% end %>
          <div id="push"></div>
          </div>

          </div>

</div>
