<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
   <div class="alert alert-danger">
    <strong><%= pluralize(event.errors.count, "error") %> prohibited this action!</strong>
    <ul style="list-style: none;">
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="container col-md-4 col-md-offset-4">
    <div class="form-group">
      <%= form.label :title, class: "control-label"%>
      <%= form.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="container col-md-4 col-md-offset-4">
    <div class="form-group">
      <%= form.label :description, class: "control-label" %>
      <%= form.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="container col-md-4 col-md-offset-4">
    <div class="form-group">
      <%= form.label :tag, class: "control-label" %>
      <%= form.select :tag_id, Tag.all.map { |tag| [ tag.name, tag.id ] },
      { :include_blank => "Select Tag"}, {:class => "form-control"} %>
      Don't see a relevant tag in the list? Add a new tag <a href = "/tags/new">here.</a>
    </div>
  </div>

   <div class="container col-md-4 col-md-offset-4">
    <div class="form-group">
    <%= form.label :location, class: "control-label" %>
    <%= form.select :location_id, Location.all.map { |location| [ location.name, location.id ] },
    { :include_blank => "Select Location"}, {:class => "form-control"} %>
    Don't see your location in the list? Add a new location <a href = "/locations/new">here.</a>
  </div>
  </div>

   <div class="container col-md-4 col-md-offset-4">
    <div class="form-group">
      <p>Date: <input type="text" class="datepicker"></p>
    <%= form.label :date, class: "control-label" %>
    <%= form.datetime_select :date, class: "form-control" %>
  </div>
  </div>

   <div class="container col-md-4 col-md-offset-4">
    <div class="form-group">
    <%= form.label :price, class: "control-label" %>
    <%= form.text_field :price, class: "form-control" %>
  </div>
  </div>

  <div class="container col-md-4 col-md-offset-4">
   <div class="form-group">
    <%= form.file_field :attachments, multiple: true, direct_upload: true %>
  </div>
  </div>

   <div class="container col-md-4 col-md-offset-4">
    <div class="form-group">
    <%= form.label :user_id, class: "control-label" %>
    <%= form.number_field :user_id, class: "form-control" %>
  </div>
  </div>

  <div class="container col-md-4 col-md-offset-4">
    <div class="form-group">
      <%= form.submit class: "btn btn-large btn-success" %>
    </div>
  </div>

  <div class="container col-md-4 col-md-offset-4">
   <div class="btn btn-warning">
      <%= link_to 'Cancel', events_path %>
    </div>
  </div>
<% end %>
