<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<br>

<div class=row>
  <table>
   <tr>
      <td>
        <div class="input-group">
        <%= form_tag(events_path, :method => "get", id: "search-form") do %>
          <%= select_tag :tag_id,options_from_collection_for_select(@tags, "id", "name"),
          :onchange => "this.form.submit();",prompt: "Search By Tag",class: "form-control" %>
        <% end %>
        </div>
      </td>
      <td>
        <div class="input-group">
        <%= form_tag(events_path, :method => "get", id: "search-form") do %>
          <%= select_tag :location_id,options_from_collection_for_select(@locations, "id", "name"),
          :onchange => "this.form.submit();",prompt: "Search By Location",class: "form-control" %>
        <% end %>
        </div>
      </td>
      <td>
      <div class="input-group">
        <%= form_tag(events_path, :method => "get", id: "search-form") do %>
          <%= select_tag :location_id,options_from_collection_for_select(@locations, "id", "city"),
          :onchange => "this.form.submit();",prompt: "Search By City",class: "form-control" %>
        <% end %>
        </div>
      </td>
   </tr>
</table>

  <div class="container">
  <a href = "/events/new" class="btn btn-primary active float-right" role="button" aria-pressed="true">New Event</a>
  </div>
</div>
<br>

<div class="col-sm-9" style="" contenteditable="false">
  <%= will_paginate %>
<% @events.each do |event| %>
<div class="card text-center">
  <div class="card-header bg-info text-white">
    <h5><%= event.title %></h5>
  </div>
  <div class="card-body eventBody" id = "eventIndex" data-event-id ="<%=event.id%>" data-user-id = <%=current_user.id%>>
    <% if !current_user.nil? && current_user.id==event.user_id %>
    <button type="button" class="btn btn-default float-right">
      <%= link_to edit_event_path(event), class:"float-right text-mute" do %>
      <%= material_icon.edit %><% end %>
    </button>
    <% end %>
    <div class="float-right" userid="<%= current_user.id %>">
      <% if event.avatar.present? %>
        <%= image_tag event.avatar, :class=> "img-circular", :align=> "center"%>
      <% end %>
    </div>
    <i class="float-left">$<%= event.price %></i>
    <h6 class="card-title"><span class="badge badge-pill badge-warning"><%= event.tag.name %></span></h6>
    <p class="card-text"><%= event.description %></p>
    <%= link_to "View Details", event, class:'btn btn-success' %>
    <%#= link_to 'Attend Event',  "#my-modal", class:'btn btn-warning', "data-toggle" => "modal"  %>
    <button type="button" class="attnedEvent btn btn-warning">Attend Event</button>
    </div>
  <div class="card-footer text-muted">
    <p>When : <%= event.date %> &nbsp &nbsp Where: <%= event.location.name %>, <%= event.location.city %></p>
  </div>
</div>
<br>
<% end %>
</div>

<div class="modal fade" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">RSVP To Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="attendeeBody">
        <%= form_with(model: @attendee, local: true) do |form| %>
          <div class="container col-md-4 col-md-offset-4">
            <div class="form-group">
              <%= form.label :guests_count, class: "control-label"%>
              <%= form.text_field :guests_count, class: "form-control" %>
            </div>
           </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="createAttendee" type="button" class="btn btn-success">RSVP</button>
      </div>
    </div>
  </div>
</div>
