<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<br>
<p id="notice"><%= notice %></p>

<div class=row>
  <table>
   <tr>
      <td>
        <div class="input-group">
        <%= form_tag(events_path, :method => "get", id: "search-form") do %>
          <%= select_tag :tag_id,options_from_collection_for_select(@tags, "id", "name"),
          :onchange => "this.form.submit();",prompt: "Search By Tag",class: "form-control" %>
        <% end %>
        </div>
      </td>
      <td>
        <div class="input-group">
        <%= form_tag(events_path, :method => "get", id: "search-form") do %>
          <%= select_tag :location_id,options_from_collection_for_select(@locations, "id", "name"),
          :onchange => "this.form.submit();",prompt: "Search By Location",class: "form-control" %>
        <% end %>
        </div>
      </td>
   </tr>
</table>

  <div class="container">
  <a href = "/events/new" class="btn btn-primary active float-right" role="button" aria-pressed="true">New Event</a>
  </div>
</div>
<br>

<% @events.each do |event| %>
<div class="card text-center">
  <div class="card-header bg-info text-white">
    <h5><%= event.title %></h5>
  </div>
  <div class="card-body">
    <% if current_user.id==event.user_id %>
    <button type="button" class="btn btn-default float-right">
      <%= link_to edit_event_path(event), class:"float-right text-mute" do %>
      <%= material_icon.edit %><% end %>
    </button>
    <% end %>
    <i class="float-left">$<%= event.price %></i>
    <h6 class="card-title"><span class="badge badge-pill badge-warning"><%= event.tag.name %></span></h6>
    <p class="card-text"><%= event.description %></p>
    <%= link_to "View Details", event, class:'btn btn-success' %>
    <%= link_to 'Attend Event',  "#my-modal", class:'btn btn-warning', "data-toggle" => "modal"  %>
    </div>
  <div class="card-footer text-muted">
    <p>When : <%= event.date %> &nbsp &nbsp Where: <%= event.location.name %></p>
  </div>
</div>
<br>
<% end %>

<div class="modal fade" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">RSVP To Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          
          <br>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!--<%= submit_tag "RSVP", class: 'btn btn-success' %>-->
        </div>
      </div>
    </div>
  </div>
</div>
