<div id="eventContainer" data-event-id ="<%=@event.id%>" class="col-md-6 offset-md-3 bg-light">
  <span id="editEvent" class="eventOptions float-right" data-toggle="modal" data-target="#myModal">
    <%= material_icon.create %>
  </span>
  <span id="deleteEvent" class="eventOptions float-right">
    <%= material_icon.delete %>
  </span>

  <h3 class="text-dark"><%= @event.title %></h3>
  <div>
    <p><%= @event.description %></p>
  </div>
  <div class="pull-right" userid="<%= @user.id %>">
    <!-- Add event avatar here -->
    <% if @event.avatar.present? %>
      <%= image_tag @event.avatar.thumb.url %>
    <% end %>
  </div>
  <div class="pull-right" userid="<%= @user.id %>">
    <%= @user.name %>
  </div>
  <div class="pull-right">
    <h6><%= @event.date %></h6>
  </div>
  <div class="pull-right"> Attendees:
    <h6><%= @attendee.length %></h6>
  </div>
  <div class="pull-right">
    <span class="badge badge-pill badge-dark"><%= @tag.name %></span>
  </div>
  <div class="pull-right">
    <h6><%= @event.location.name %></h6>
  </div>
  <div class ="pull-right">
    <h6><%= @event.price %></h6>
  </div>
</div>
<div class="col-md-6 offset-md-3">
  <hr>
</div>
<div class="col-md-6 offset-md-3">
  <div class="card">
    <div class="card-header">
      <%= link_to image_tag("brick.jpg", alt: "WYWB logo", height: 40, width: 40, class:'rounded-circle'),
                  root_path, id: "logo" %>

    </div>
    <div class="card-body">
      <textarea class="form-control" rows="2" id="newComment"></textarea><br>
      <a id="addComment" class="btn-sm btn-primary float-right">Comment</a>
    </div>
  </div>
</div>
<div id="commentsContainer" class=" col-md-6 offset-md-3">
  <% @comments.each do |comment| %>
    <div class="card commentContainer" data-comment-id ="<%=comment.id%>">
      <div class="card-header">
        <%= link_to image_tag("brick.jpg", alt: "WYWB logo", height: 50, width: 50, class:'rounded-circle'),
                    root_path, id: "logo" %>
        <button type="button" class="close closeBtn" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <span> <%= comment.user_id %> </span>
      </div>
      <div class="card-body">
        <p class="card-text"><%= comment.message %></p>
        <p class="font-weight-light"><%= comment.date %></p>

      </div>
    </div>
  <% end %>
</div>

<!-- Modal for event edit -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">Edit Event</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <%= form_with(model: @event, local: true) do |form| %>
          <div class="form-group">
            <%= form.label :title, class: "control-label"%>
            <%= form.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label :description, class: "control-label" %>
            <%= form.text_area :description, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label :tag, class: "control-label" %>
            <%= form.select :tag_id, Tag.all.map { |tag| [ tag.name, tag.id ] },
                            { :include_blank => "Select Tag"}, {:class => "form-control"} %>
            Don't see a relevant tag in the list? Add a new tag <a href = "/tags/new">here.</a>
          </div>
          <div class="form-group">
            <%= form.label :location, class: "control-label" %>
            <%= form.select :location_id, Location.all.map { |location| [ location.name, location.id ] },
                            { :include_blank => "Select Location"}, {:class => "form-control"} %>
            Don't see your location in the list? Add a new location <a href = "/locations/new">here.</a>
          </div>
          <div class="form-group">
            <%= form.label :price, class: "control-label" %>
            <%= form.text_field :price, class: "form-control" %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button id="updateEvent" type="button" class="btn btn-default">Update</button>
      </div>
    </div>
  </div>
</div>

<!--<%= link_to 'Edit', edit_event_path(@event) %> |-->
<!--<%= link_to 'Back', events_path %>-->

<%#= render 'comments/form', comment: @comment %>

<!--<table>-->
<!--  <tbody>-->
<%# @event.comments.each do |comment| %>
<!--  <tr>-->
<!--    <td><%#= comment.message %></td>-->
<!--    <td><%#= comment.event_id %></td>-->
<!--    <td><%#= comment.user_id %></td>-->
<!--    <td><%#= comment.date %></td>-->
<!--    <td><%#= link_to 'Show', comment %></td>-->
<!--    <td><%#= link_to 'Edit', edit_comment_path(comment) %></td>-->
<!--    <td><%#= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--  </tr>-->
<%# end %>
<!--  </tbody>-->
<!--</table>-->
