<%= form_with(model: tag, local: true) do |form| %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container col-md-4 col-md-offset-4">
    <div class="form-group">
      <%= form.label :name, class: "control-label" %>
      <%= form.text_field :name, class: "form-control"  %>
    </div>
  </div>

  <div class="container col-md-4 col-md-offset-4">
    <div class="form-group">
      <%= form.label :description, class: "control-label" %>
      <%= form.text_area :description, class: "form-control"%>
    </div>
  </div>  

  <div class="container col-md-4 col-md-offset-4">
    <div class="form-group">
      <%= form.submit class: "btn btn-large btn-success" %>
    </div>
  </div>
  
  <div class="container col-md-4 col-md-offset-4">
   <div class="btn btn-warning">
      <%= link_to 'Cancel', tags_path %>
    </div>
  </div>
<% end %>