<%= form_with(model: location, local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group clear">
    <%= form.label :name, class: "col-md-4 control-label"  %>
    <div class="col-md-5">
    <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group clear">
    <%= form.label :address, class: "col-md-4 control-label"  %>
    <div class="col-md-5">
    <%= form.text_field :address, class: "form-control" %>
    </div>
  </div>
  <div class="form-group clear">
    <%= form.label :city, class: "col-md-4 control-label"  %>
    <div class="col-md-5">
    <%= form.text_field :city, class: "form-control" %>
    </div>
  </div>

  <div class="form-group clear">
    <%= form.label :capacity, class: "col-md-4 control-label"  %>
    <div class="col-md-5">
    <%= form.number_field :capacity, class: "form-control" %>
    </div>
  </div>

  <div class="form-group clear">
    <%= form.label :email, class: "col-md-4 control-label"  %>
    <div class="col-md-5">
    <%= form.text_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="form-group clear">
    <%= form.label :phone, class: "col-md-4 control-label"  %>
    <div class="col-md-5">
    <%= form.text_field :phone, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
  <%= form.submit class: "btn btn-large btn-primary" %>
  </div>
<% end %>
