<%= form_with(model: location, local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container col-md-4 col-md-offset-4">
    <div class="form-group">
      <%= form.label :name, class: "control-label"  %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="container col-md-4 col-md-offset-4">
    <div class="form-group">
      <%= form.label :address, class: "control-label"  %>
      <%= form.text_field :address, class: "form-control" %>
    </div>
  </div>
  
  <div class="container col-md-4 col-md-offset-4">
    <div class="form-group">
      <%= form.label :city, class: "control-label"  %>
      <%= form.text_field :city, class: "form-control" %>
    </div>
  </div>

  <div class="container col-md-4 col-md-offset-4">
    <div class="form-group">
      <%= form.label :capacity, class: "control-label"  %>
      <%= form.number_field :capacity, class: "form-control" %>
    </div>
  </div>

 <div class="container col-md-4 col-md-offset-4">
  <div class="form-group">
    <%= form.label :email, class: "control-label"  %>
    <%= form.text_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="container col-md-4 col-md-offset-4">
    <div class="form-group">
      <%= form.label :phone, class: "control-label"  %>
      <%= form.text_field :phone, class: "form-control" %>
    </div>
  </div>

  <div class="container col-md-4 col-md-offset-4">
    <div class="form-group">
      <%= form.submit class: "btn btn-large btn-success" %>
    </div>
  </div>
  
  <div class="container col-md-4 col-md-offset-4">
   <div class="btn btn-warning">
      <%= link_to 'Cancel', locations_path %>
    </div>
  </div>
  
<% end %>